In [1]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find the data files in the README.

In [4]:
# titles = pd.read_csv('data/titles.csv', index_col=None)
titles = pd.read_csv('titles.csv', index_col=None)

# titles.head()
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
# cast = pd.read_csv('data/cast.csv', index_col=None)
cast = pd.read_csv('cast.csv', index_col=None)


# cast.head()
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### 1. How many movies have the title "Hamlet"?

In [8]:
hamlet_count = titles[titles['title'] == 'Hamlet'].shape[0]
print(f"Number of movies with the title 'Hamlet': {hamlet_count}")

Number of movies with the title 'Hamlet': 18

### 2. When was the first movie titled "Hamlet" made?

In [9]:
# Filter titles DataFrame for movies titled "Hamlet"
hamlet_movies = titles[titles['title'] == 'Hamlet']

In [10]:
# Sort by the 'year' column to find the earliest movie
earliest_hamlet_movie = hamlet_movies.sort_values(by='year').iloc[0]

In [11]:
# Retrieve the year of the earliest movie titled "Hamlet"
first_hamlet_year = earliest_hamlet_movie['year']

print(f"The first movie titled 'Hamlet' was made in {first_hamlet_year}.")

The first movie titled 'Hamlet' was made in 1910.

### 3. How many movies were made in the year 1950?

In [12]:
# Filter titles DataFrame for movies made in the year 1950
movies_1950 = titles[titles['year'] == 1950]

In [13]:
# Count the number of movies made in 1950
num_movies_1950 = movies_1950.shape[0]

print(f"Number of movies made in the year 1950: {num_movies_1950}")

Number of movies made in the year 1950: 1099

### 4. How many movies were made from 1950 through 1959?

In [5]:
# Filter titles DataFrame for movies made from 1950 through 1959
movies_1950s = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]

In [6]:
# Count the number of movies made from 1950 through 1959
num_movies_1950s = movies_1950s.shape[0]

print(f"Number of movies made from 1950 through 1959: {num_movies_1950s}")

Number of movies made from 1950 through 1959: 12711

In [5]:
# release_dates = pd.read_csv('data/release_dates.csv', index_col=None, parse_dates=['date'], infer_datetime_format=True)
release_dates = pd.read_csv('release_dates.csv', index_col=None, parse_dates=['date'], infer_datetime_format=True)
                                                                 
# release_dates.head()
release_dates.head()

C:\Users\a7902\AppData\Local\Temp\ipykernel_54104\4086884845.py:2: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  release_dates = pd.read_csv('release_dates.csv', index_col=None, parse_dates=['date'], infer_datetime_format=True)

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                 #Beings  2015      Romania 2015-01-29
2               #Declimax  2018  Netherlands 2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
4                 #Horror  2015          USA 2015-11-20

### 5. In what years has a movie titled "Batman" been released?

In [9]:
# Filter release_dates DataFrame for entries where the title is "Batman"
batman_movies = release_dates[release_dates['title'] == 'Batman']

In [10]:
# Extract the unique years in which "Batman" movies were released
batman_years = batman_movies['date'].dt.year.unique()

In [11]:
print(f"Years in which a movie titled 'Batman' was released: {batman_years}")

Years in which a movie titled 'Batman' was released: [1943 1946 1950 1966 1989 1990 1992]

### 6. How many roles were there in the movie "Inception"?

In [12]:
# Filter cast DataFrame for entries where the title is "Inception"
inception_roles = cast[cast['title'] == 'Inception']

In [13]:
# Count the number of unique roles in the "Inception" movie
num_inception_roles = inception_roles['character'].nunique()

print(f"Number of roles in the movie 'Inception': {num_inception_roles}")

Number of roles in the movie 'Inception': 55

### 7. How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [14]:
# Filter cast DataFrame for entries where the title is "Inception" and 'n' value is NaN
inception_roles_no_rank = cast[(cast['title'] == 'Inception') & (cast['n'].isna())]

In [15]:
# Count the number of roles in "Inception" that are not ranked by 'n' value
num_inception_roles_no_rank = inception_roles_no_rank.shape[0]

print(f"Number of roles in the movie 'Inception' that are not ranked by 'n' value: {num_inception_roles_no_rank}")

Number of roles in the movie 'Inception' that are not ranked by 'n' value: 26

### 8. How many roles were credited in the silent 1921 version of Hamlet?

> Hint: There are a lot of "Hamlet" films, we want 1921 only

In [16]:
# Filter titles DataFrame for the silent 1921 version of "Hamlet"
hamlet_1921 = titles[(titles['title'] == 'Hamlet') & (titles['year'] == 1921)]

In [17]:
# Merge with cast DataFrame to get credits for the 1921 version of "Hamlet"
hamlet_1921_credits = pd.merge(hamlet_1921, cast, on='title')

In [18]:
# Count the number of credited roles in the 1921 version of "Hamlet"
num_hamlet_1921_roles = hamlet_1921_credits.shape[0]

print(f"Number of roles credited in the silent 1921 version of 'Hamlet': {num_hamlet_1921_roles}")

Number of roles credited in the silent 1921 version of 'Hamlet': 313

### 9. Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [19]:
# Filter cast DataFrame for "North by Northwest" and non-null 'n' values
north_by_northwest_cast = cast[(cast['title'] == 'North by Northwest') & (cast['n'].notna())]

In [20]:
# Sort the cast by 'n' values to display in correct order
north_by_northwest_cast_sorted = north_by_northwest_cast.sort_values(by='n')

# Display the sorted cast
print(north_by_northwest_cast_sorted[['n', 'name', 'character']])

            n                  name                    character
845516    1.0            Cary Grant           Roger O. Thornhill
3382934   2.0       Eva Marie Saint                  Eve Kendall
1413409   3.0           James Mason              Phillip Vandamm
3043261   4.0   Jessie Royce Landis              Clara Thornhill
345822    5.0        Leo G. Carroll                The Professor
2941468   6.0  Josephine Hutchinson                Mrs. Townsend
1644542   7.0           Philip Ober              Lester Townsend
1236791   8.0         Martin Landau                      Leonard
2372617   9.0         Adam Williams                     Valerian
1757154  10.0          Edward Platt              Victor Larrabee
646039   11.0     Robert Ellenstein                        Licht
2225858  12.0          Les Tremayne                   Auctioneer
450691   13.0       Philip Coolidge                    Dr. Cross
1463316  14.0         Patrick McVey               Sergeant Flamm
199768   15.0          Edward Binns               Captain Junket
1343025  16.0             Ken Lynch  Charley - Chicago Policeman

### 10. Display the entire cast, in "n"-order, of the 1972 film "Sleuth". 

> Hint: There is more than one movie titled "Sleuth", we want 1972 only

In [21]:
# Filter cast DataFrame for the 1972 film "Sleuth" and non-null 'n' values
sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972) & (cast['n'].notna())]

In [22]:
# Sort the cast by 'n' values to display in correct order
sleuth_1972_cast_sorted = sleuth_1972_cast.sort_values(by='n')

In [23]:
# Display the sorted cast
print(sleuth_1972_cast_sorted[['n', 'name', 'character']])

           n                name                   character
1654402  1.0    Laurence Olivier                 Andrew Wyke
316652   2.0       Michael Caine                 Milo Tindle
362592   3.0      Alec Cawthorne           Inspector Doppler
1421434  4.0  John (II) Matthews  Detective Sergeant Tarrant
2635708  5.0  Eve (III) Channing             Marguerite Wyke
1405219  6.0        Teddy Martin      Police Constable Higgs

### 11. How many people have played an "Ophelia"?

In [9]:
# Filter the cast dataset to find all instances where the character is "Ophelia"
ophelia_cast = cast[cast['character'].str.lower() == 'ophelia'.lower()]

# Count the unique actors who have played "Ophelia"
num_ophelias = ophelia_cast['name'].nunique()

num_ophelias

109

### 12. How many roles has Sidney Poitier played throughout his career?

In [10]:
# Filter the cast dataset to find all instances where the actor is "Sidney Poitier"
sidney_poitier_roles = cast[cast['name'].str.lower() == 'sidney poitier'.lower()]

# Count the number of roles Sidney Poitier has played
num_roles_sidney_poitier = sidney_poitier_roles.shape[0]

num_roles_sidney_poitier

43

### 13. List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [12]:
# Filter the cast dataset to find all instances where the actor is "Cary Grant"
cary_grant_roles = cast[cast['name'].str.lower() == 'cary grant'.lower()]

# Filter these entries to find supporting roles (n=2)
cary_grant_supporting_roles = cary_grant_roles[cary_grant_roles['n'] == 2]

# Merge with the titles dataset to get the movie titles (assuming 'id' is the common column)
cary_grant_titles = cary_grant_supporting_roles.merge(titles, left_on='title', right_on='id')

# Merge with the release_dates dataset to get the release years (assuming 'title' is the common column)
cary_grant_titles_with_dates = cary_grant_titles.merge(release_dates, left_on='title', right_on='title')

# Filter the results to only include movies from the 1940s
cary_grant_1940s = cary_grant_titles_with_dates[(cary_grant_titles_with_dates['date'].dt.year >= 1940) & (cary_grant_titles_with_dates['date'].dt.year < 1950)]

# Sort the results by year
cary_grant_1940s_sorted = cary_grant_1940s.sort_values(by='date')

# Select the relevant columns and display the results
supporting_roles_1940s = cary_grant_1940s_sorted[['title', 'character', 'date']]
print(supporting_roles_1940s)

KeyError: 'id'

### 14. How many roles were avilable for actresses in the 1950s?

In [13]:
# Check the column names in the cast dataset to determine how to filter for actresses
print(cast.columns)

# Assuming the 'type' or similar column distinguishes between actors and actresses
# If not available, this part should be skipped or adjusted accordingly

# Merge the cast dataset with the release_dates dataset to get the release years
cast_with_dates = cast.merge(release_dates, left_on='title', right_on='title')

# Filter the merged dataset to include only the 1950s
cast_1950s = cast_with_dates[(cast_with_dates['date'].dt.year >= 1950) & (cast_with_dates['date'].dt.year < 1960)]

# Assuming there's no direct column indicating 'actress', we need to infer this from the name (if needed)
# Here, we assume the cast dataset has no direct gender indicator, so we use all entries

# Count the number of unique roles available in this period
num_roles_actresses_1950s = cast_1950s['character'].nunique()

num_roles_actresses_1950s

Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')

175182

In [14]:
# Filter the cast dataset to include only leading roles (n=1)
leading_roles = cast[cast['n'] == 1]

# Merge the leading roles dataset with the release_dates dataset to get the release years
leading_roles_with_dates = leading_roles.merge(release_dates, left_on='title', right_on='title')

# Filter the merged dataset to include only movies released up to 1980
leading_roles_to_1980 = leading_roles_with_dates[leading_roles_with_dates['date'].dt.year <= 1980]

# Count the number of unique leading roles available in this period
num_leading_roles_to_1980 = leading_roles_to_1980['character'].nunique()

num_leading_roles_to_1980

45251

### 15. How many leading roles (n=1) were available from the beginning of film history through 1980?

In [15]:
# Filter the cast dataset to include only leading roles (n=1)
leading_roles = cast[cast['n'] == 1]

# Merge the leading roles dataset with the release_dates dataset to get the release years
leading_roles_with_dates = leading_roles.merge(release_dates, left_on='title', right_on='title')

# Filter the merged dataset to include only movies released up to 1980
leading_roles_to_1980 = leading_roles_with_dates[leading_roles_with_dates['date'].dt.year <= 1980]

# Count the number of unique leading roles available in this period
num_leading_roles_to_1980 = leading_roles_to_1980.shape[0]

num_leading_roles_to_1980

200460

### 16. Which three years in the 1930s saw the most films released?

In [16]:
# Filter the release_dates dataset to include only films released in the 1930s
films_1930s = release_dates[(release_dates['date'].dt.year >= 1930) & (release_dates['date'].dt.year < 1940)]

# Count the number of films released each year in the 1930s
films_per_year_1930s = films_1930s['date'].dt.year.value_counts().sort_index()

# Identify the top three years with the most films released
top_three_years_1930s = films_per_year_1930s.nlargest(3)

top_three_years_1930s

date
1938    2706
1937    2690
1936    2516
Name: count, dtype: int64

### 17. Count the number of "Hamlet" films made in each decade.

> Hint: You can use the same approach to finding the decade as you did in `01-Accessing`

In [18]:
# Filter the titles dataset to include only movies titled "Hamlet"
hamlet_movies = titles[titles['title'].str.lower() == 'hamlet']

# Merge with release_dates to get the release years
# Assuming the title column in titles matches with title in release_dates
hamlet_movies_with_dates = hamlet_movies.merge(release_dates, left_on='title', right_on='title')

# Function to determine the decade from a given year
def get_decade(year):
    return year // 10 * 10

# Apply the function to create a 'decade' column
hamlet_movies_with_dates['decade'] = hamlet_movies_with_dates['date'].dt.year.apply(get_decade)

# Count the number of "Hamlet" films made in each decade
hamlet_films_per_decade = hamlet_movies_with_dates['decade'].value_counts().sort_index()

hamlet_films_per_decade

decade
1910     72
1920     90
1940    198
1950     36
1970     54
1990    702
2000    252
2010     36
Name: count, dtype: int64

### 18. Count the number of "Rustler" characters in each decade of the history of film.

In [20]:
# Check the column names in the cast dataset to find the correct column for movie titles
print(cast.columns)

# Filter the cast dataset to include only characters named "Rustler"
rustler_characters = cast[cast['character'].str.lower() == 'rustler']

# Merge with release_dates to get the release years
# Assuming the title column in cast matches with title in release_dates
rustler_characters_with_dates = rustler_characters.merge(release_dates, left_on='title', right_on='title')

# Function to determine the decade from a given year
def get_decade(year):
    return year // 10 * 10

# Apply the function to create a 'decade' column
rustler_characters_with_dates['decade'] = rustler_characters_with_dates['date'].dt.year.apply(get_decade)

# Count the number of "Rustler" characters in each decade
rustler_characters_per_decade = rustler_characters_with_dates['decade'].value_counts().sort_index()

rustler_characters_per_decade

Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')

decade
1910      1
1920     13
1930    145
1940     74
1950     31
1960     22
1970    144
1980     17
1990     11
2000     62
2010    340
Name: count, dtype: int64

### 19. Who are the 10 people most often credited as "Herself" in film history?

In [21]:
# Filter the cast dataset to include only entries where the character is "Herself"
herself_credits = cast[cast['character'].str.lower() == 'herself']

# Count the occurrences of each person credited as "Herself"
top_herself_credits = herself_credits['name'].value_counts().head(10)

top_herself_credits

name
Queen Elizabeth II    11
Joyce Brothers         9
Margaret Thatcher      8
Mary Jo Pehl           7
Hillary Clinton        7
Joan Rivers            6
Sumie Sakai            6
Marilyn Monroe         5
Bunny Yeager           5
Caroline Rhea          5
Name: count, dtype: int64

### 20. Which actors or actresses appeared in the most movies in the year 1945?

In [23]:
# Filter the release_dates dataset to include only movies released in 1945
movies_1945 = release_dates[release_dates['date'].dt.year == 1945]

# Merge with cast to get the cast information for movies released in 1945
# Assuming the title column in release_dates matches with title in cast
movies_1945_cast = movies_1945.merge(cast, left_on='title', right_on='title')

# Count the appearances of each actor or actress in the merged dataset
top_actors_1945 = movies_1945_cast['name'].value_counts().head(10)

top_actors_1945

name
Bess Flowers       132
Emmett Vogan       130
Sam (II) Harris    125
Eddie Hall         108
Cyril Ring         106
Larry Steers        98
Byron Foulger       93
Harold Miller       89
James Flavin        88
James Conaty        83
Name: count, dtype: int64

### 21. What are the 10 most frequent roles that start with the phrase "Patron in"?

In [25]:
# Drop rows where 'character' column is NaN
cast = cast.dropna(subset=['character'])

# Filter the cast dataset to include only roles that start with "Patron in"
patron_roles = cast[cast['character'].str.startswith('Patron in')]

# Count the occurrences of each role
top_patron_roles = patron_roles['character'].value_counts().head(10)

top_patron_roles

character
Patron in Frisky Rabbit         16
Patron in Chinese Restaurant     9
Patron in the Coffee House       9
Patron in Billiard Parlor        5
Patron in Bar                    4
Patron in restaurant             4
Patron in cabaret                3
Patron in Restaurant             3
Patron in Club                   3
Patron in Quiet Bar              2
Name: count, dtype: int64

### 22. Count number of n-values of the roles that Judi Dench has played over her career.

In [26]:
# Filter the cast dataset to include only entries where name is "Judi Dench"
judi_dench_roles = cast[cast['name'] == 'Judi Dench']

# Count the occurrences of each unique n-value
n_value_counts = judi_dench_roles['n'].value_counts()

n_value_counts

n
3.0     6
1.0     6
2.0     6
4.0     4
7.0     4
6.0     4
12.0    3
18.0    2
13.0    2
16.0    2
5.0     2
8.0     1
26.0    1
23.0    1
20.0    1
40.0    1
29.0    1
9.0     1
Name: count, dtype: int64

### 23. How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

In [27]:
# Filter the cast dataset for leading roles (n=1) in the 1950s
leading_roles_1950s = cast[(cast['n'] == 1) & (cast['year'] // 10 == 195)]

# Count the number of leading roles available to actors
leading_roles_actors = leading_roles_1950s[leading_roles_1950s['type'] == 'actor'].shape[0]

# Count the number of leading roles available to actresses
leading_roles_actresses = leading_roles_1950s[leading_roles_1950s['type'] == 'actress'].shape[0]

leading_roles_actors, leading_roles_actresses

(6616, 2965)